development:
  # The app_name is used as the backup filename prefix
  app_name: replace_me
  ftp_host: replace_me
  ftp_user: replace_me
  ftp_password: replace_me

staging:
  app_name: replace_me
  ftp_host: replace_me
  ftp_user: replace_me
  ftp_password: replace_me

production:
  app_name: replace_me
  ftp_host: replace_me
  ftp_user: replace_me
  ftp_password: replace_me

