development:
  # The app_name is used as the backup filename prefix
  app_name: replace_me

staging:
  app_name: replace_me
  # Provider may be one of 'local', 'ftp' or 's3'
  provider: s3
  # You must create the s3_bucket specified below via an external tool like S3 Browser, etc
  s3_bucket: some-s3-bucket
  # S3 provider requires also aws_access_key_id and aws_secret_access_key
  aws_access_key_id: --replace me with your AWS access key id--
  aws_secret_access_key: --replace me with your AWS secret access key--

production:
  app_name: replace_me
  provider: ftp
  # FTP provider requires ftp_host, ftp_user, and ftp_password
  ftp_host: replace_me
  ftp_user: replace_me
  ftp_password: replace_me

